name: End2End tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    shell: bash

env:
  GO_VERSION: "1.20.4"
  KIND_VERSION: v0.19.0
  OPERATOR_IMAGE_PATH: /tmp/temporal-operator.tar
  WORKER_PROCESS_IMAGE_PATH: /tmp/example-worker-process.tar

jobs:
  run-e2e:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
       kube-version:
       - v1.24.13
       - v1.25.9
       - v1.26.4
       - v1.27.1
    name: Run generate E2E tests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: temporal-operator:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          outputs: type=docker,dest=${{ env.OPERATOR_IMAGE_PATH }}
      - name: Build worker-process
        uses: docker/build-push-action@v5
        with:
          context: ./examples/worker-process/helloworld
          push: false
          tags: example-worker-process:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          outputs: type=docker,dest=${{ env.WORKER_PROCESS_IMAGE_PATH }}
      -
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
      # e2e-framework uses kind v0.12.0 as default value
      - name: Install kind
        uses: helm/kind-action@v1.8.0
        with:
          version: ${{ env.KIND_VERSION }}
          install_only: true
      - name: Run e2e test suite
        run: make test-e2e
        env:
          OPERATOR_IMAGE_PATH: ${{ env.OPERATOR_IMAGE_PATH }}
          WORKER_PROCESS_IMAGE_PATH: ${{ env.WORKER_PROCESS_IMAGE_PATH }}
          KUBERNETES_VERSION: ${{ matrix.kube-version }}
      - name: Archive e2e logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: e2e-artifacts
          path: out/tests/e2e/