name: Tests and build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    shell: bash

env:
  GOLANG_CI_VERSION: v1.59.1

jobs:
  license:
    name: Check license on files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - name: check
        run: make check-license
  lint:
    name: Lint files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: false
      - name: lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: ${{ env.GOLANG_CI_VERSION }}
  build:
    name: Build operator
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: build
        run: make build
  test:
    name: Test operator
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: test
        run: make test